default_language_version:
  python: python3.7
repos:
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        name: black
        language_version: python3.7
        exclude: (.)*(.generated.py)